/* Dimensions */
body {
  margin: 0;
  width: 790px;
  background: #171717;
}

/* Header */
header {
  width: 780px;
  padding-left: 20px;
  padding-bottom: 1px;
  background: #2B2B2B;
}
header h1, header a, header p {
  font-family: monospace;
  margin-top: 0;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #989898;
}

/* Section Banner */
#banner {
  width: 514px;
  padding-left: 20px;
  border-top: solid 2px #171717;
  background: #2B2B2B;
}
#banner h1, #banner a, #banner p, #title h1 {
  font-family: monospace;
  margin-top: 0;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #989898;
}

/* Title Bars */
#title-blue, #title-orange, #title-green, #title-red, #title-purple {
  width: 247px;
  padding-left: 20px;
  margin-left: -20px;
  color: #fff;
}
#title-orange {
  background: #ff5500;
}
#title-blue {
  background: #3498db;
}
#title-green {
  background: #2ecc71;
}
#title-red {
  background: #e74c3c;
}
#title-purple {
  background: #8e44ad;
}

/* Main Content */
#content-wrapper {
  width: 740px;
  padding-left: 20px;
}
#main-content a {
  font-size:100%;
  font-family: monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  font-weight: normal;
  color: #989898;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 20px;
  color: #fff;
}
p, a, ol {
  font-family: monospace;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #989898;
}
p {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #9b59b6;
}
a:hover {
  text-decoration: underline;
}

/* Highlight */
#highlight {
  padding-left: 5px;
  padding-right: 5px;
  background: #2B2B2B;
  color: #989898;
  text-decoration: none;
}
#highlight:hover {
  background: #8e44ad;
  color: #fff;
}

/* Footer */
footer {
  width: 790px;
  padding-top: 30px;
  padding-left: 20px;
}
footer p {
  font-family: monospace;
}
